@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #050505;
    z-index: 100;
    transition: all 0.5s ease;
}

    .sidebar.close {
        width: 78px;
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details i {
            font-size: 50px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 28px;
            line-height: 28px;
            padding-top: 10px;
            color: #fff;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li:hover {
            background: #1d1b31;
        }

        .sidebar .nav-links li i {
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            color: #fff;
            font-size: 25px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .sidebar .nav-links li.showMenu i.arrow {
            transform: rotate(-180deg);
        }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            transition: all 0.4s ease;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #1d1b31;
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: #fff;
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

.home-section {
    position: relative;
     background: #cc454503;
     transition: all 0.5s ease;
    margin-left: 70px;
}

    .home-section .home-content i {
        position: fixed;
        font-size: 50px;
        color: white;
    }

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: #11101d;
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
    }

    .home-section .home-content .text {
        position: relative;
        left: 50px;
        font-size: 35px;
        font-weight: 600;
        color: #1d1b31;
        padding-left:10px;
    }


@media (max-width: 480px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .home-section .home-content .text {
        font-size: 20px;
    }
}

.main .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 68.8vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main .header .nav {
        width: 90vw;
        display: flex;
        align-items: center;
    }

        .main .header .nav .search {
            flex: 3;
            display: flex;
            justify-content: center;
        }

            .main .header .nav .search input[type=text] {
                font-size: 15px;
                border: none;
                padding: 10px;
                width: 40%;
                background: #E4E9F7;
            }

            .main .header .nav .search button {
                width: 40px;
                height: 50px;
                border: black;
                background: #E4E9F7;
            }

        .main .header .nav .user {
            flex: 1;
        }

.btn {
    background-color: #2b6fa7;
    color: white;
    border: 0.5px solid #5d00ff;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

    .btn:hover {
        color: black;
        background: black;
        padding: 3px 8px;
        border: 1px solid;
    }

.main .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .main .header .nav .user .userimg {
        position: relative;
        width: 50px;
        height: 50px;
    }

        .main .header .nav .user .userimg img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

.home-section .content {
    position: relative;
    margin-top: 3vh;
    min-height: 90vh;
}

    .home-section .content .cards {
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

        .home-section .content .cards .card {
            border-radius: 10px;
            width: 300px;
            height: 125px;
            background-color: #2b6fa7;
            margin: 20px 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            .home-section .content .cards .card a {
                color: white;
                text-decoration: none;
            }

            .home-section .content .cards .card .box h1 {
                color: white;
                padding: 0 35px;
            }

            .home-section .content .cards .card .box h3 {
                color: white;
            }

.card:hover {
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
}

.home-section .content .content1 {
    padding: 20px 15px;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

    .home-section .content .content1 .payment {
        border-radius: 10px;
        min-height: 50vh;
        flex: 5;
        background: #E4E9F7;
        margin: 0 25px 25px 25px;
        display: flex;
        flex-direction: column;
    }

.payment:hover {
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
}



.title {
    color: #2b6fa7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}



    .btn a {
        color: white;
    }

table {
    padding: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}


@media (max-width: 1120px) {
    .home-section .home-content .text {
        font-size: 20px;
    }

    .main .header .nav .search {
        flex: 2;
        display: flex;
        justify-content: center;
    }

        .main .header .nav .search input[type=text] {
            font-size: 10px;
            border: none;
            padding: 10px;
            width: 15%;
            background: #E4E9F7;
        }

        .main .header .nav .search button {
            width: 40px;
            height: 50px;
            border: black;
            background: #E4E9F7;
        }

    #img {
        width: 25px;
        height: 25px;
    }

    .main .header .nav .user .userimg {
        position: relative;
        width: 35px;
        height: 35px;
    }

        .main .header .nav .user .userimg img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


    .home-section .content .cards .card {
        border-radius: 10px;
        width: 150px;
        height: 105px;
        background-color: #2b6fa7;
        margin: 15px 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

        .home-section .content .cards .card a {
            color: white;
            text-decoration: none;
        }

        .home-section .content .cards .card h1 {
            font-size: 20px;
        }

        .home-section .content .cards .card img {
            width: 50px;
        }

    .card:hover {
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
        box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
    }

    .home-section .content .content1 {
        padding: 20px 15px;
        min-height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

        .home-section .content .content1 .payment {
            border-radius: 10px;
            min-height: 50vh;
            flex: 5;
            background: #E4E9F7;
            margin: 0 25px 25px 25px;
            display: flex;
            flex-direction: column;
        }

    .payment:hover {
        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.2);
    }

    .title h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .home-section .home-content .text {
        font-size: 20px;
    }

    .main .header .nav .search {
        flex: 2;
        display: flex;
        justify-content: center;
    }

        .main .header .nav .search input[type=text] {
            font-size: 8px;
            border: none;
            padding: 10px;
            width: 20%;
            background: #E4E9F7;
        }

        .main .header .nav .search button {
            width: 40px;
            height: 50px;
            border: black;
            background: #E4E9F7;
        }

    #img {
        width: 20px;
        height: 20px;
    }

    .main .header .nav .user .userimg {
        position: relative;
        width: 30px;
        height: 30px;
    }

        .main .header .nav .user .userimg img {
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            height: 90%;
        }


    .home-section .content .cards .card {
        border-radius: 10px;
        width: 150px;
        height: 105px;
        background-color: #2b6fa7;
        margin: 15px 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

        .home-section .content .cards .card a {
            color: white;
            text-decoration: none;
        }

        .home-section .content .cards .card h1 {
            font-size: 20px;
        }

        .home-section .content .cards .card img {
            width: 50px;
        }

    .card:hover {
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
        box-shadow: 0px 10px 13px -7px #000000, -1px 10px 17px 9px rgba(0,0,0,0.16);
    }

    .home-section .content .content1 {
        padding: 20px 15px;
        min-height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

        .home-section .content .content1 .payment {
            border-radius: 10px;
            min-height: 50vh;
            flex: 3.5;
            background: #E4E9F7;
            margin: 0 25px 25px 25px;
            display: flex;
            flex-direction: column;
        }

    .payment:hover {
        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2),0 16px 30px 0 rgba(0,0,0,0.2);
    }

    .title h2 {
        font-size: 20px;
    }
}
